# Python dependencies required for development
numpy~=1.23.3
matplotlib~=3.7.2

defusedxml~=0.7.1
cffi~=1.15.1
Pillow~=9.2.0
ipython~=8.6.0
pip~=21.3.1
toml~=0.10.2
wheel~=0.37.1
cryptography~=38.0.4
lxml~=4.9.2
tornado~=6.2
tqdm~=4.65.0
torch~=1.12.1+cu113
scipy~=1.9.2
requests~=2.30.0
colorama~=0.4.6
pytest~=8.0.0
Cython~=0.29.34
setuptools~=59.8.0
pytz~=2022.7.1
numba~=0.56.2
mpmath~=1.2.1
sympy~=1.11.1
appdirs~=1.4.4
six~=1.16.0
python-dateutil~=2.8.2
contourpy~=1.0.5
fonttools~=4.37.4
pyparsing~=3.0.9
Jinja2~=3.1.2
cycler~=0.11.0
packaging~=21.3
ipykernel~=6.16.2
sphinx~=7.2.6
docutils~=0.18.1
kiwisolver~=1.4.4
thrift~=0.16.0
minio~=7.1.15
Pint~=0.23
SQLAlchemy~=2.0.25
phot~=0.4.3
psutil~=5.9.2
Whoosh~=2.7.4
jieba~=0.42.1